@import url("/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lower-post-list {
  animation: slide-to-right 100s linear infinite alternate;
}

@keyframes slide-to-right {
  0% {
    transform: translateX(22%);
  }
  100% {
    transform: translateX(-22%);
  }
}

.upper-post-list {
  animation: slide-to-left 100s linear infinite alternate;
}

@keyframes slide-to-left {
  0% {
    transform: translateX(-22%);
  }
  100% {
    transform: translateX(22%);
  }
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

:focus-visible {
  outline: 2px solid #5282ff;
}

.vimeo-full-width {
  padding: 56.25% 0 0 0;
  position: relative;
}

.vimeo-full-width iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estiliza o autofill no dark mode */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #dedede;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #364c63ff;
}

.text-shadow {
  text-shadow:
    rgba(13, 15, 18, 0.4) 0px 1px 2px,
    rgba(13, 15, 18, 0.4) 0px 2px 4px,
    rgba(13, 15, 18, 0.4) 0px 4px 8px,
    rgba(13, 15, 18, 0.4) 0px 8px 16px;
}

@layer components {
  .color-underline {
    @apply font-bold decoration-2 decoration-solid underline hover:opacity-90 transition-all;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #1e2b38;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(44, 63, 82);
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: rgb(224, 224, 224);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(188, 187, 187);
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(112, 112, 112);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
  }

  /* Buttons */
  ::-webkit-scrollbar-button:single-button {
    background-color: rgb(44, 63, 82);

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
  }

  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 10px;
    width: 20px;
    background-position: center 6px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
  }

  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 16px;
    width: 16px;
    background-position: center 6px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

  ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

  ::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
  }
}
