@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.post-list {
  animation: slide 120s linear infinite alternate;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-75%);
  }
}

.post-list2 {
  animation: slide2 120s linear infinite alternate;
}

@keyframes slide2 {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

/* WebKit */
.overflow-scrollbar::-webkit-scrollbar {
  height: 6px;
  background-color: lightgray;
  border-radius: 10px;
}

.overflow-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 10px;
}

/* Firefox */
.overflow-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

:focus-visible {
  outline: 2px solid #5282ff;
}

.vimeo-full-width {
  padding: 56.25% 0 0 0;
  position: relative;
}

.vimeo-full-width iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
