.forms-dark {
  background: rgb(10, 66, 176);
  background: radial-gradient(
    circle,
    rgba(10, 66, 176, 1) 0%,
    rgba(5, 71, 241, 1) 0%,
    rgba(19, 34, 51, 1) 100%
  );
}
.forms-light {
  background: rgb(10, 66, 176);
  background: radial-gradient(
    circle,
    rgba(10, 66, 176, 1) 0%,
    rgba(94, 23, 235, 1) 0%,
    rgba(19, 34, 51, 1) 100%
  );
  color: white;
  margin-top: 4vh;
}

.logo-light {
  width: 85%;
}
